* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 18px 0;
    background-color: #2151ed;
}


.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff
}

.logo__link {
    font-size: 24px;
}

.header__search {
    display: flex;
    align-items: center;
}


.header__search-input {
    width: 35vw;
    outline: none;
    padding: 10px 20px;
    border: none;
}

.header__search-btn {
    padding: 9.62px 20px;
    border-radius: 0;
    border: none;
    border-left: 1px solid grey;
}



.header__user-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4px;
}



.footer {
    padding: 25px 0;
    background-color: #000;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}


.footer__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}




